@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb611; /* orange-400 */
  border-radius: 9999px;
}
/* Chrome / Edge */
.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 9999px;
  background: white;
  border: 4px solid #f59e0b; /* orange */
  cursor: pointer;
}

/* Firefox */
.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  height: 18px;
  width: 18px;
  border-radius: 9999px;
  background: white;
  border: 4px solid #f59e0b;
  cursor: pointer;
}
